{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Your workouts" %}{% endblock %}


{% block content %}
    <div class="list-group">
        {% for workout in workouts %}
            <a href="{{ workout.get_absolute_url }}" class="list-group-item">
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>

                {% if workout == current_workout %}
                <span class="badge">
                    <em>{% trans "active" %}</em>
                </span>
                {% endif %}

                <h4 class="list-group-item-heading">{{ workout }}</h4>
                <p class="list-group-item-text">{{ workout.creation_date }}</p>
            </a>
        {% empty %}
            <a href="{% url 'manager:workout:add' %}" class="list-group-item">
            {% trans "No workouts found." %}<br>{% trans "Add one now." %}
            </a>
        {% endfor %}
    </div>
{% endblock %}


{% block options %}
<a href="{% url 'manager:workout:add' %}" class="btn btn-success btn-sm">
    {% trans "Add workout" %}
</a>
<div class="modal fade" id="export_workout">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Import Workout" %}</h4>
                </div>
            <div class="modal-body">
                <form action="{% url 'manager:workout:export_workouts' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <h5>
                        <strong>{% trans "Import from CSV file" %}:</strong>
                    </h5>
                    <p>
                        <input type="file" name="csv_file" />
                    </p>
                    <input type="submit" value="Import" class="btn btn-success btn-sm" />  </form>
                 </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                 </div>
             </div>
         </div>
</div>
<a data-toggle="modal" data-target="#export_workout" class="btn btn-default btn-sm">
     {% trans "Import Workouts" %}
</a>
{% endblock %}
